.search-container{
    display: flex;
    position: relative; 
}

.search-button{
    position: relative;
    right: 2.2rem;
    border: none;
    background-color: white;
    border-left: none;
}

.search-input{
    border: none
}

.search-input:focus{
    border: none;
}