.StaticOffer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8rem;
    margin-bottom: 3rem;
    align-items: center;
}

.StaticOffer-img {
    position: relative;
    width: 35rem; /* Ajuste conforme necessário */
    height: 35rem; /* Ajuste conforme necessário */
    overflow: hidden; /* Garante que as imagens não ultrapassem o contêiner */

}

.Laye {
    position: relative;
    width: 100%; /* Ajusta a largura para ocupar o contêiner */
    height: auto; /* Mantém a proporção da imagem */
    top: 0;
    left: 0;
    object-fit: cover; /* Ajusta a imagem para cobrir o contêiner sem distorção */
    right: 10rem;
    top: 8rem;

}

.Ellipse {
    position: absolute;
    width: 82%; /* Ajusta a largura para ocupar o contêiner */
    height: auto; /* Mantém a proporção da imagem */
    top: 6rem;
    left: 4rem;
    object-fit: cover; /* Ajusta a imagem para cobrir o contêiner sem distorção */
}

.Ellipse {
    z-index: 1; /* Garante que a imagem Ellipse fique abaixo da imagem Laye */
}

.Laye {
    z-index: 2; /* Garante que a imagem Laye fique acima da imagem Ellipse */
}

.StaticOffer-text {
    width: 40%;
}

.StaticOffer-text .ofert {
    color: #c92072c9;
    font-weight: 700;
}

.StaticOffer-text .text{
    color: black;
}

.StaticOffer-text h3 {
    font-size: 3rem;
}
