/* Estilo do StaticOffer */
.StaticOffer {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8rem;
    margin-bottom: 3rem;
    align-items: center;
    background-color: white;
    width: 100%;
    top: 4.2rem;
    padding-bottom: 2rem;
}

/* Estilo da imagem StaticOffer */
.StaticOffer-img {
    position: relative;
    width: 30rem;
    height: 30rem;
    overflow: hidden; /* Garante que as imagens não ultrapassem o contêiner */
}

.Laye {
    position: absolute;
    width: 100%;
    height: auto;
    top: 8rem;
    left: 0;
    object-fit: cover; /* Ajusta a imagem para cobrir o contêiner sem distorção */
    z-index: 2;
}

.Ellipse {
    position: absolute;
    width: 82%;
    height: auto;
    top: 6rem;
    left: 4rem;
    object-fit: cover;
    z-index: 1;
}

/* Estilo do texto StaticOffer */
.StaticOffer-text {
    position: relative;
    width: 22%;
}

.StaticOffer-text h3{
    font-weight: 700;
}

.StaticOffer-text .ofert {
    color: #c92072c9;
    font-weight: 800;
}

.StaticOffer-text .text {
    color: black;
}

.StaticOffer-text h3 {
    font-size: 3rem;
}

