#carouselExampleIndicators {
  position: relative;
  margin: 0 auto;
  bottom: 2.5rem;
  width: 85rem;
}

li::marker {
  font-size: 0;
}

.carousel-indicators li {
  background-color: #fff;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin: 5px;
}

.carousel-indicators .active {
  background-color: #000; 
}

.carousel-caption {
  position: absolute;
  top: 10rem;
  left: 10rem;
  padding: 20px;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.carousel-caption h3 {
  font-size: 4rem;
  text-align: left;
  position: absolute;
  right: 34rem;
  width: 32rem;
  font-weight: 700;
}

.carousel-caption .titulo-carousel {
  font-size: 1.1rem;
  color: #f6aa1c;
  position: relative;
  bottom: 2rem;
  right: 28rem;
}

.carousel-caption .desc-carousel {
  text-align: left;
  position: relative;
  font-size: 1.1rem;
  top: 7rem;
  right: 7.5rem;
}

.carousel-item {
  height: 650px;
  position: relative;
}

.carousel-item .background-image {
  max-height: 100%; 
}

.foreground-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 10%; 
  max-height: 100%; 
  z-index: 10; 
  pointer-events: none; 
}


.carousel-indicators{
  display: flex;
  gap: 0.5rem;
}