html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garante que o layout ocupe toda a altura da viewport */
}

.page-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #ffffff;
    box-sizing: border-box;
}

.logo {
    margin-right: 2rem; /* Ajuste o espaço à direita da logo conforme necessário */
   
}

.header {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.content {
    flex: 1; /* Permite que o conteúdo ocupe o espaço restante */
    padding: 20px; /* Ajuste conforme necessário */
}

footer {
    margin-top: auto; /* Move o rodapé para a parte inferior da página */
}
