.ProductViewPage {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.infos {
  width: 32rem;
  position: relative;
  right: 17rem;
}

.infos-desc {
  font-size: 0.9rem;
  font-weight: 500;
}

.breadcrumb{
  font-weight: 600;
}

.header {
  margin-bottom: 20px;
}

.breadcrumb a {
  color: #000;
  text-decoration: none;
  margin-right: 5px;
}

.product-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1.8rem;
  position: relative;
  top: -1rem;
}

.product-header h3{
  font-weight: 700;
}

.product-price {
  font-size: 24px;
  margin: 10px 0;
  position: relative;
  top: -1rem;
}

.current-price {
  font-weight: bold;
  font-size: 1.2rem;
  color: #474747;
}

.current-price span {
  font-size: 2rem;
}

.original-price {
  text-decoration: line-through;
  color: #9999998e;
  margin-left: 10px;
  font-size: 1.2rem;
  font-weight: 400;
}

.product-rating {
  margin: 10px 0;
}

.main-content {
  display: flex;
  justify-content: center;
  position: relative;
  left: 1rem;
}

.carousel-section {
  flex: 1;
  margin-right: 20px;
  position: relative;
  left: 0.1rem;
}

.product-info {
  flex: 1;
  max-width: 400px;
  position: relative;
  top: -2rem;
}

.product-info h2 {
  margin-bottom: 10px;
  font-size: 0.9rem;
  font-weight: 600;
  color: #8f8f8f;
}

.product-info p {
  margin-bottom: 20px;
}

.product-sizes {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.related-products {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.related-products h2 {
  margin-bottom: 20px;
}

.product-list {
  display: flex;
  justify-content: space-around;
}

.product-item {
  text-align: center;
}

.product-item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.product-item p {
  margin: 10px 0;
}

.product-price {
  font-weight: bold;
}

.product-btns {
  flex-direction: row;
  display: flex;
  gap: 0.8rem;
  position: relative;
  bottom: -2rem;
  right: 4.7rem;
}

.product-sizes p {
  margin-bottom: 10px;
  font-size: 0.9rem;
  font-weight: 600;
  color: #8f8f8f;
}

.VPText {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 5rem;
  position: relative;
  left: -1rem;
}

.VPText p {
  color: #c92071;
}

.VPCards {
  display: flex;
  gap: 1.5rem;
  padding: 3rem;
  align-items: center;
  justify-content: center;
  position: relative;
  left: -1rem;
}

.breadcrumb {
  display: flex;
  position: relative;
  top: -2rem;
  left: 19.4rem;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  display: flex;
  gap: 0.5rem;
}

.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1rem;
  color: #ffffff; 
  cursor: pointer;
}

.rating > span:hover:before,
.rating > span:hover ~ span:before {
  content: "\2605";
  color: #F6aa1c; 
  position: absolute;
}

.rating > span:before {
  content: "\2605";
  position: absolute;
  color: #ddd; 
}


.product-colors {
  display: flex;
  flex-direction: column;
}

.product-colors p {
  margin-bottom: 10px;
  font-size: 1rem;
  font-weight: 600;
  color: #8f8f8f;
}

.product-colors div{
  position: relative;
  top: 0.5rem;
}

.product-color {
  display: inline-block;
  width: 30px; 
  height: 30px;
  border-radius: 50%; 
  margin-right: 10px;
  cursor: pointer; 
  transition: all 0.3s ease; 
}

.product-color:hover {
  border: 2px solid white; 
  transform: scale(1.2); 
}

.btn-cmp{
  position: relative;
  top: 2.9rem;
}