/* Reset básico para remoção de margens e paddings padrão */
body, html {
    margin: 0;
    padding: 0;
}

/* Estilização do Navbar */
.navbar {
    display: flex;
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center; /* Centraliza o conteúdo verticalmente */
    background-color: #ffffff; /* Cor de fundo do navbar */
    border: none;
    position: relative;
    left: 3rem; 
}

.navbar-expand-lg {
    width: 35rem;
    background-color: #ffffff;
    border: none;
}

.bg-body-tertiary {
    background-color: #ffffff;
    border: none;
}

/* Container do Navbar */
.container-fluid {
    display: flex;
    justify-content: center; /* Centraliza o container do navbar */
    padding: 0;
    margin: 0;
    background-color: #ffffff;
}

/* Itens do Navbar */
.navbar-nav {
    display: flex;
    flex-direction: row;
    gap: 1rem; /* Espaçamento entre os itens do navbar */
    list-style: none;
    padding: 0;
    margin: 0; /* Corrige a falta de valor para margin */
}

/* Estilização dos Links do Navbar */
.nav-link {
    position: relative; /* Necessário para posicionar o pseudo-elemento */
    color: #000000; /* Cor do texto */
    text-decoration: none; /* Remove a sublinhado dos links */
    transition: color 0.3s; /* Adiciona transição suave */
}

.nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 5px; /* Ajusta a posição vertical do sublinhado */
    width: 100%;
    height: 3px; /* Espessura do sublinhado */
    background-color: transparent; /* Cor inicial do sublinhado */
    transition: background-color 0.3s; /* Transição suave para o hover */
}

.nav-link:hover {
    color: #c92071; /* Cor rosa ao passar o mouse */
    font-weight: 700;
}

.nav-link:hover::after {
    background-color: #c92071; /* Cor do sublinhado ao passar o mouse */
}
